.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #0D1117;
  color: #C9D1D9;
  font-family: 'Poppins', sans-serif;
}

.controls-container {
  width: 40%;
  padding: 20px;
}

.inputs-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #C9D1D9;
}

.inputs-group input,
.inputs-group select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #161B22;
  color: #C9D1D9;
  border: 1px solid #30363D;
  border-radius: 5px;
}

button {
  background-color: #18eaf9; /* Botón verde */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0bb5c5;
}

.chart-container {
  width: 55%;
  height: 500px;
  padding: 15px;
  background-color: #161B22;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
